
@{
    ViewBag.Title = "ViewOrders";
}

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Orders</h1>
                        </div>
                    </div>
                </div>
              
            </div>
            <!-- /# row -->
         

            <div id="OrderTable">

            </div>
        </div>
    </div>
</div>

@section scripts{
    
    <script>
          $(document).ready(function(){
              $("#OrderTable").load('@Url.Action("OrderTable", "Order")')
          });

        //$(document).ready(function () {
        //    $.ajax({

        //        url: "/Order/GetAllOrders",
        //        success: function (data) {
        //            alert("SASD");
        //            console.log(data);
        //            bindOrdersInDataTable(data);
        //        }
        //    });


        //    function bindOrdersInDataTable() {



        //    }

        //});


    </script>
    
    }

